.submit-button {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #1d4ed8;
  color: white;
  font-weight: 600;
  border-radius: 7px;
  transition: background-color 0.3s ease;
  border: none;
  outline: none;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #1e40af;
}
